html, body {
  height:100%;
  width:100%;
  margin:0;
  -webkit-animation: fadein 0.6s ease-out;
          animation: fadein 0.6s ease-out;
}

body {
  display:table;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

.main {
  max-width:500px;
  margin:0 auto;
}

* {
  box-sizing:border-box;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
  color:#333;
}

h1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background:url('logo-beta-5-crop.png') center center no-repeat;
  background-size:contain;
  height:8rem;
}

input, button, .lang {
  font-size:1.5rem;

  background:transparent;
  border:1px solid #ddd;
  border-radius:4px;
  margin:0.5rem auto;
  padding:0.5rem;
  height:3rem;
  width:100%;
}

h1 {
  position:relative;
  font-size:8rem;
  margin:0;
  display:block;
  width:100%;
}

h2 {
  text-align:center;
  margin:0;
  color:#666;
}

p {
  line-height:1.45;
  font-size:1.25rem;
}

/* for margin symmetry*/
form > input:first-child {
  margin-top:0;
}

.flash {
  font-size: 1.5rem;
  text-align:center;
  background-color:#18e76e;
  padding:0.25rem;
}

.flashes {
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

@-webkit-keyframes fadein {
    from { opacity: 0; -webkit-transform: translateY(0.5rem); }
    to   { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(0.5rem); }
    to   { opacity: 1; transform: translateY(0); }
}

/* DROPDOWN */

.lang {
  /* Size and position */
  position: relative; /* Enable absolute positionning for children and pseudo elements */

  outline:none;
  cursor: pointer;
}

.lang:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.25rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;

  border-top: 0.866rem solid #164959;
}

.lang .dropdown {
  /* Size & position */
  position: absolute;
  z-index:10;
  left: -2px;
  right: -2px;
  top:0;

  max-height:0;
  overflow:scroll;

  /* Styles */
  background: rgba(255, 255, 255, 0.95);
  border:1px solid #ddd;
  border-radius:4px;
  list-style: none;
  padding:0;

  /* Hiding */
  opacity: 0;
  pointer-events: none;

  -webkit-transition: max-height 0.2s, top 0.2s, opacity 0.1s;
          transition: max-height 0.2s, top 0.2s, opacity 0.1s;
}

/* Active state */
.lang.active .dropdown {
  opacity: 1;
  pointer-events: auto;

  max-height:15rem;
  top:-6rem; /* (15/2) - (3/2) */
}

.lang .dropdown li {
  padding:0.5rem;
  padding-left:2rem;
}

/* Hover state */
.lang .dropdown li:hover {
  background: #213D46;
  color:#fff;
}

.lang.active:after {
  border-color: #9bc7de transparent;
  border-width: 6px 6px 0 6px ;
  margin-top: -3px;
}
