<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/style.css">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class=flashes>
      {% for message in messages %}
      <p class="flash">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  <div class="main">
    {% block content %}{% endblock %}
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="static/typeahead.js"></script>
  <script src="static/main.js"></script>
</body>
</html>
