{% extends "base.html" %}
{% block title %}Subcode{% endblock %}
{% block content %}
  <h1>Subcode</h1>
  <form action="." method="POST">
    <input type="text" name="email" placeholder="user@example.com" autocapitalize="off" autocorrect="off"/>
    <div id="lang" class="lang" name="language" tabindex="1">
      <span>Language</span>
      <ul class="dropdown" tabindex="1">
        <li data-value="ActionScript">ActionScript</li>
        <li data-value="C">C</li>
        <li data-value="C#">C#</li>
        <li data-value="C++">C++</li>
        <li data-value="Clojure">Clojure</li>
        <li data-value="CoffeeScript">CoffeeScript</li>
        <li data-value="Common Lisp">Common Lisp</li>
        <li data-value="CSS">CSS</li>
        <li data-value="Diff">Diff</li>
        <li data-value="Emacs Lisp">Emacs Lisp</li>
        <li data-value="Erlang">Erlang</li>
        <li data-value="Haskell">Haskell</li>
        <li data-value="HTML">HTML</li>
        <li data-value="Java">Java</li>
        <li data-value="JavaScript">JavaScript</li>
        <li data-value="Lua">Lua</li>
        <li data-value="Objective-C">Objective-C</li>
        <li data-value="Perl">Perl</li>
        <li data-value="PHP">PHP</li>
        <li data-value="Python">Python</li>
        <li data-value="Ruby">Ruby</li>
        <li data-value="Scala">Scala</li>
        <li data-value="Scheme">Scheme</li>
        <li data-value="Swift">Swift</li>
        <li data-value="Shell">Shell</li>
        <li data-value="SQL">SQL</li>
      </ul>
    </div>
    <button type="submit">Sign me up</button>
  </form>
{% endblock %}
